canvas#c
.hud
  .hud__score
    .score-lbl
    .cube-count-lbl
  .pause-btn
    div
  .slowmo
    .slowmo__bar
.menus
  .menu.menu--main
    h1 CUT DICE
    button.play-normal-btn(type='button') PLAY GAME
    button.play-casual-btn(type='button') CASUAL MODE
  .menu.menu--pause
    h1 Paused
    button.resume-btn(type='button') RESUME GAME
    button.menu-btn--pause(type='button') MAIN MENU
  .menu.menu--score
    h1 Game Over
    h2 Your Score:
    .final-score-lbl
    .high-score-lbl
    button.play-again-btn(type='button') PLAY AGAIN
    button.menu-btn--score(type='button') MAIN MENU
